.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 90vh;
}

.login {
    background-color: #242424;
    height: 170px;
    width: 280px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
}

.input {
        width: 80%;
        justify-content: center;
        padding: 6px;
        margin: 8px 5px;
        box-sizing: border-box;
        border-radius: 4px;
        color: white;
        outline: none;
}